*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  color: #273746;
  background-color: #f4f2ff;
  font-family: 'Open Sans', sans-serif;
}

header{
  margin: 80px 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.highlight{
  color: #116FE1;
}

#input-output{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#input, #output{
  margin: 30px;
}

#input{
  font-size: 2.1rem;
}

#cityNameLabel{
  padding-left: 4px;
}

.search-box{
  display: flex;
  justify-content: start;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
  width: 380px; 
}

#cityName{
  width: 70%;
  border: 2px solid #2E4053;
  padding: 8px 10px;
  font-size: 1.8rem;
  color: #f4f2ff;
  background-color: #2E4053;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
#cityName:focus{
  outline-color: #116FE1;
}
#cityName::placeholder{
  color: #f4f2ff;
}

#search{
  width: 30%;
  border: 2px solid #116FE1;
  margin-left: -5px;
  padding: 8px 10px;
  font-size: 1.8rem;
  color: #f4f2ff;
  background-color: #116FE1;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
}
#search:focus{
  outline-color: #111a25;
}

.error{
  color: red;
  font-size: 1.8rem;
  padding-left: 4px;
}

h1{
  font-size: 3.5rem;
  font-weight: 600;
}
p{
  font-size: 3rem;
  font-weight: 300;
}
img{
  width: 70px;
}

@media screen and (max-width: 1024px){
  html{
    font-size: 55%;
  }
}

@media screen and (max-width: 768px){
  .search-box{
    width: 320px;
  } 
  header{
    text-align: center;
  }
  #output{
    text-align: center;
  }
}

@media screen and (max-width: 480px){
  html{
    font-size: 45%;
  }
  .search-box{
    width: 240px;
  } 
}